_target_: src.recon3d.MapGuidedRecon3D
_recursive_: true

depth_tokenizer:
  _target_: src.depth_tokenizer.DepthTokenizer
  model_type: 'Small'
  output_dim: 768

net:
  _target_: src.fusion_encoder.FusionEncoder
  name: vitb
  out_layers: [5, 7, 9, 11]
  fusion_layers: [4]
  alt_start: 4
  qknorm_start: 4
  rope_start: 4
  cat_token: true

head:
  _target_: depth_anything_3.model.dualdpt.DualDPT
  dim_in: 1536
  output_dim: 2
  features: 128
  out_channels: [96, 192, 384, 768]
  head_names: ["depth", "ray"]

cam_enc:
  _target_: depth_anything_3.model.cam_enc.CameraEnc
  dim_out: 768

cam_dec:
  _target_: depth_anything_3.model.cam_dec.CameraDec
  dim_in: 1536